  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'poppins',sans-serif;
  }

  .main-content{
    margin-left: 345px;
  }

  main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
    padding:2rem 1.5rem ;
    background: white;
    min-height : calc(100vh - 90px);
  }
  
  .formulaire{
    width: 100%;
    max-width: 1200px;
    background-color: #FDF0E0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding: 5% 0;
  }
  
  form{
    width: 90%;
    max-width: 600px;
  }
  
  .input{
     margin-bottom: 30px;
     position: relative;
    }
  
  
  input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #3C486B ;
    border-radius: 10px;
    color: black;
    background: white;
    font-size: 1.2rem;
  }
  
  .input_d{
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    padding-left: 30%;
    
   }

   #birthdate{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #3C486B ;
    border-radius: 10px;
    color: white;
    background: #3C486B;
    font-size: 1.2rem;
   }
  
  #label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: black;
    border-radius: 10px;
    cursor: text;
    transition: 0.2s;
  }
  #select{
    position: relative;
    width: 100%;
    font-size: 1.2rem;
    color: white;
    background-color: #3C486B;
    border-radius: 10px;
    padding: 10px ;
  }
  
  
  .select{
    margin-bottom: 30px;
    position: relative;
  }
  
  button{
    padding: 10px ;
    color: white;
    background: #F66B0E;
    border-radius: 10px;
    outline: none;
    border: 1px solid #F66B0E;
    width: 60%;
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 20%;
  }
  
  input:focus~#label,
  input:valid~#label,
  textarea:focus~#label,
  textarea:valid~#label{
    top: -35px;
    font-size: 1.2rem;
  }